div.banner {
    background-color: #d02e2e;
    opacity: 0.8;
    color: white;
    width: 100%;
    padding: 0.2em 0.5em;
    margin-bottom: 1em;
    /*align text vertically in the middle*/
    display: flex;
    align-items: center;
    gap: .5em;
}
