@page "/jobs/edit";
@page "/jobs/edit/{Id:int}";
@inject NavigationManager navigationManager;
@inject IJobService jobService;
@inject ICustomerService customerService;
@inject IUserService userService;

@if (Id is null)
{
    <h3>Create job</h3>
}
else
{
    <h3>Edit job</h3>
}

@if (CurrentUser is null)
{
    <p>Please sign in.</p>
}
else if (Unauthorized)
{
    <p>You are not authorized to access this resource.</p>
}
else {
<EditForm Model="CurrentJob" OnSubmit="HandleSubmit" FormName="JobForm">
    <label for="reference">Reference</label>
    <InputText @bind-Value="CurrentJob.Reference"></InputText>
    <label for="address">Address</label>
    <InputText @bind-Value="CurrentJob.Address"></InputText>
    <label for="description">Description</label>
    <InputText @bind-Value="CurrentJob.Description"></InputText>
    <label for="customer">Customer</label>
    <InputSelect @bind-Value="CurrentJob.CustomerId">
        @if (Customers is not null)
        {
            @foreach (var customer in Customers)
            {
                if (CurrentJob.CustomerId == customer.Id)
                {
                    <option value="@customer.Id" selected>@customer.Name</option>
                }
                else 
                {
                    <option value="@customer.Id">@customer.Name</option>
                }
            }
        }
    </InputSelect>




    
    <button type="submit">Submit</button>
</EditForm>
}


@code {
    [Parameter]
    public int? Id { get; set; } = null;

    [SupplyParameterFromForm]
    public Job CurrentJob { get; set; } = new();

    public IEnumerable<Customer>? Customers { get; set; }

    public User? CurrentUser;

    public bool Unauthorized = false;

    protected override async Task OnParametersSetAsync()
    {
        await InitalizeData();

        if (Id is not null && CurrentUser is not null)
        {
            // Try to get job with id
            try
            {
                var job = await jobService.GetByIdAsync(Id.Value, CurrentUser);

                if (job is not null)
                {
                    CurrentJob.Id = job.Id;
                    CurrentJob.Reference ??= job.Reference;
                    CurrentJob.Address ??= job.Address;
                    CurrentJob.Description ??= job.Description;
                    CurrentJob.Customer ??= job.Customer;
                    CurrentJob.CustomerId ??= job.CustomerId;
                    CurrentJob.Company ??= job.Company;
                    CurrentJob.CompanyId ??= job.CompanyId;
                }
            }
            catch (UnauthorizedAccessException)
            {
                Unauthorized = true;
            }

        }
    }

    private async Task InitalizeData()
    {
        await UpdateCurrentCompany();
        await UpdateCustomerList();
    }

    private async Task UpdateCurrentCompany()
    {
        var user = await userService.GetCurrentUserWithNavigationsAsync();
        CurrentUser = user;
    }

    private async Task UpdateCustomerList()
    {
        if (CurrentUser?.CurrentCompanyId is not null)
        {
            Customers = await customerService.GetAllAsync(CurrentUser.CurrentCompanyId.Value);
        }
    }

    async Task HandleSubmit()
    {
        // Necessary when creating a job
        if (CurrentJob.CompanyId is null)
        {
            CurrentJob.CompanyId = CurrentUser!.CurrentCompanyId!.Value;
        }

        // Add auditing (see JobSightDbContext)
        CurrentJob.CreatedBy = CurrentUser?.NormalizedEmail;
        CurrentJob.UpdatedBy = CurrentUser?.NormalizedEmail;

        Job? newJob = new();
        
        // Whether to create a job or update an existing one
        if (Id is null)
        {
            newJob = await jobService.CreateAsync(CurrentJob);
        }
        else
        {
            newJob = await jobService.UpdateAsync(CurrentJob);
        }

        if (newJob is not null)
        {
            navigationManager.NavigateTo($"/job/{newJob.Id}");
        }
        else
        {
            throw new Exception("Job failed to create");
        }
       
        
    }
}
