@page "/jobs"
@inject IJobService jobService;
@attribute [StreamRendering];

<h3>Jobs</h3>
@if (jobs == null)
{
    <span>Loading...</span>
}
else if (jobs.Count() == 0)
{
    <span>No jobs found</span>
}
else
{
    <ul>
        @foreach (Job job in jobs)
        {
            <li>@job.Id</li>
        }
    </ul>
}

@if (job == null)
{
    <span>Not found</span>
}
else {
    <span>@job.Id</span>
}

@code {
    IEnumerable<Job>? jobs = null;
    Job? job = null;

    protected override async Task OnInitializedAsync()
    {
        jobs = await jobService.GetAllAsync();
        job = await jobService.GetByIdAsync(1);
    }
}
