@page "/"
@inject IUserService userService;
@inject NavigationManager navigationManager;

<PageTitle>Home</PageTitle>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    @if (CurrentUser is not null)
    {
        <p>Welcome, @CurrentUser.UserName. <br /><br /> The dashboard is not complete yet. Please use the navigation panel on the left.</p>
    }
    else
    {
        <p>Sign in!</p>
    }
}

@code {
    public User CurrentUser { get; set; }
    public bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await userService.GetCurrentUserAsync();
        if (CurrentUser is null) {
            navigationManager.NavigateTo("/login");
        }
        else if (CurrentUser.IsSiteWorker)
        {
            // Navigate to the site page if the user is a site worker
            navigationManager.NavigateTo("/site");
        }
        IsLoading = false;
    }
}