@namespace ManagementApp.Components.Shared

@if (Content is not null)
{
    <div class="banner">
        <i class="bi bi-ban"></i>
        <span>@Content</span>
    </div>
}

@code {
    public string? Content = null;

    [Parameter]
    public EventCallback OnNotificationSent { get; set; }


    public async Task ShowError(string content)
    {
        Content = content;
        await OnNotificationSent.InvokeAsync();
    }
}
