@inject IUserService userService;
@inject ITaskService taskService;

@if (Task is not null && !deleted)
{
    <div class="border rounded my-3 p-3">
        <div class="d-flex justify-content-between">
            <div class="rounded bg-primary text-white px-2 fw-bold" style="width: fit-content;">
                @if (Task.User is not null && Task.User.UserName != string.Empty)
                {
                    <span>@Task.User?.UserName</span>
                }
                else
                {
                    <span>Unassigned</span>
                }
            </div>
            <div class="text-secondary">
                @if (Task.StartDateTime is not null)
                {
                    <span>@Task.StartDateTime.Value.ToShortDateString()</span>
                }
            </div>
        </div>
        <div class="">
            <h5 class="mt-3">@Task.Description</h5>
        </div>
        <HxButton @onclick="DeleteClicked" Color="ThemeColor.Danger">Delete</HxButton>
    </div>
}
@code {
    [Parameter]
    public JobTask? Task { get; set; }
    [Parameter]
    public EventCallback<int> TaskDeleted { get; set; }
    private bool deleted = false;

    public async Task DeleteClicked()
    {
        var user = await userService.GetCurrentUserAsync();
        if (user is not null && Task is not null)
        {
            await taskService.DeleteAsync(Task.Id, user);
            // Now we need to refresh the parent component
            await TaskDeleted.InvokeAsync(Task.Id);
            Task = null;
            deleted = true;
        }
    }
}
