.js-task-image img {
    width: 10em;
    height: 10em;
    object-fit: scale-down;
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .js-task-image {
        display: flex;
        width: calc(50%);
        overflow: hidden;
    }
    .js-task-image img {
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: auto;
        max-width: 10em;
    }
}
/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
}
/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
}
