
<div class="js-task-image mx-1 my-1">

@if (JobTaskImage is null)
{
    <TaskImageUpload JobTaskId="JobTaskId" OnImageUploaded="ImageUploaded"></TaskImageUpload>
}
else
{
        <div class="border rounded p-1">
        <img src="@JobTaskImage.ImageUrl" alt="@JobTaskImage.Caption"/>
    </div>
}

</div>

@code {
    [Parameter]
    public JobTaskImage? JobTaskImage { get; set; }
    [Parameter]
    public int? JobTaskId { get; set; }

    public void ImageUploaded(JobTaskImage image)
    {
        JobTaskImage = image;
    }
}
