@inject ITaskImageService taskImageService;

<h3>Task Image Upload</h3>

<button>Upload Image</button>
<InputFile OnChange="LoadFile">Upload Image</InputFile>

@code {
    public async Task LoadFile(InputFileChangeEventArgs e)
    {
        using (var memoryStream = new MemoryStream())
        {
            await e.File.OpenReadStream().CopyToAsync(memoryStream);
            await taskImageService.AddImage(2, memoryStream);
        }
    }
}
