
<div class="js-task-image border border-secondary rounded mx-1 mb-1">

@if (JobTaskImage is null)
{
    <TaskImageUpload JobTaskId="JobTaskId" OnImageUploaded="ImageUploaded"></TaskImageUpload>
}
else
{
    <img src="@JobTaskImage.ImageUrl" alt="@JobTaskImage.Caption"/>
}

</div>

@code {
    [Parameter]
    public JobTaskImage? JobTaskImage { get; set; }
    [Parameter]
    public int? JobTaskId { get; set; }

    public void ImageUploaded(JobTaskImage image)
    {
        JobTaskImage = image;
    }
}
