@page "/site"
@layout SiteLayout
@inject IUserService userService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

@if (IsLoading == false && CurrentUser is not null)
{
    <h2 class="text-white">Active Jobs</h2>
    <JobListSimple User="CurrentUser" OnJobSelected="JobSelected"/>
}

@code {
    public User? CurrentUser { get; set; }

    public bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await userService.GetCurrentUserAsync();
        // Redirect the user to the non-mobile page if they are not a site worker
        if (CurrentUser is null || CurrentUser.IsSiteWorker == false)
        {
            navigationManager.NavigateTo("/");
        }
        IsLoading = false;
    }

    public void JobSelected(Job? job)
    {
        if (job is not null)
        {
            navigationManager.NavigateTo($"/site-job/{job.Id}");
        }
    }
}
